	/* Button Icons. If you want to use the default then use the default steamglyph image path or just delete the variable*/

:root {
	/* standard buttons */
	--face-up:  url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_button_t.svg");
	--face-dn:  url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_button_x.svg");
	--face-lf:  url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_button_s.svg");
	--face-rt:  url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_button_o.svg");
	--menu-srt: url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/sd_button_start.svg");
	--menu-slc: url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/sd_button_select.svg");

	/* directional pad */
	--dpad-nu: url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_dpad.svg");
	--dpad-up: url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_dpad_up.svg");
	--dpad-dn: url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_dpad_down.svg");
	--dpad-lf: url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_dpad_left.svg");
	--dpad-rt: url("/themes_custom/Button%20Prompts%20Galore/ds3/imgs/shared_dpad_right.svg");
}
